@import url('https://fonts.googleapis.com/css?family=Signika|Courgette|Ubuntu|Poppins');

html, body {
  margin:0;height: 100%;
}

@media only screen and (max-width: 959px) {
  body {
    font-size: 11px;
  }
  #menutop {
    width: 540px;
  }
  #mainframe {
    width: 540px;
    /* height: 100%; */
  }
  .img_scale_logo {
    width: 5.5em;
  }
  .img_scale {
    transform: scale(0.6);
  }
  .cont_btn {
    margin: 0.2em 1.4em !important;
  }
  .minitable > tbody > tr > td, .minitable > thead > tr > th  {
    padding: 0.4em 0.2em !important;
  }

}

@media only screen and (min-width: 960px) and (max-width: 1160px) {
  body {
    font-size: 15px;
  }
  #menutop {
    width: 960px;
  }
  #mainframe {
    width: 960px;
    /* height: 100%; */
  }
  .img_scale_logo {
    width: 6em;
  }
  .img_scale {
    transform: scale(0.75);
  }
  .cont_btn {
    margin: 0.2em 1.4em !important;
  }
  .minitable > tbody > tr > td, .minitable > thead > tr > th  {
    padding: 0.4em 0.3em !important;
  }
}

@media only screen and (min-width: 1161px) and (max-width: 1360px) {
  body {
    font-size: 16px;
  }
  #menutop {
    width: 1160px;
  }
  #mainframe {
    width: 1160px;
    /* height: 100%; */
  }
  .img_scale_logo {
    width: 7em;
  }
  .img_scale {
    transform: scale(0.75);
  }
  .cont_btn {
    margin: 0.2em 1.7em !important;
  }
  .minitable > tbody > tr > td, .minitable > thead > tr > th  {
    padding: 0.4em 0.4em !important;
  }
}

@media only screen and (min-width: 1361px) and (max-width: 1560px) {
  body {
    font-size: 17px;
  }
  #menutop {
    width: 1350px;
  }
  #mainframe {
    width: 1350px;
    /* height: 100%; */
  }
  .img_scale_logo {
    width: 8em;
  }
  .cont_btn {
    margin: 0.25em 1.8em !important
  }
}

@media only screen and (min-width: 1561px) and (max-width: 2000px) {
  body {
    font-size: 18px;
  }
  #menutop {
    width: 1550px;
  }
  #mainframe {
    width: 1550px;
    /* height: 100%; */
  }
  .img_scale_logo {
    width: 8em;
  }
  .cont_btn {
    margin: 0.3em 2em !important
  }
}

@media only screen and (min-width: 2001px) {
  body {
    font-size: 18px;
  }
  #menutop {
    width: 1750px;
  }
  #mainframe {
    width: 1750px;
    /* height: 100%; */
  }
  .img_scale_logo {
    width: 8em;
  }
}

/* Styles for svg elements and svg container elements */
svg {
  position: absolute;
  left: 0;
  top: 0;
}

.cont_svg {
  clear: both;
  width: 100%;
  height: 0;
  padding-top: 48%;
  position: relative;
}
.zoomed > .clgd {
  width: 82.5%;
}
/* End of styles for svg elements and svg container elements */

body.loading {
  background-color: #e5edf8;
}

body {
  transition: background-color 100ms linear;
}

#mainframe {
  clear: both;
  height: 90%;
  margin: auto;
}

#menutop {
  margin: auto;
  padding-top: 10px;
}

.noselect {
  user-select: none;
}
.selectable {
  user-select: initial !important;
}
/* Styles for the spinner displayed while the data is loading: */
.spinner {
  margin: 100px auto !important;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  animation-delay: -0.9s;
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
  }
}
/* End of style for spinner */

/* Style for the notification zone: */
.alertify-notifier .ajs-message.ajs-warning {
    background: rgb(228, 144, 83) !important;
}

.alertify-notifier .ajs-message {
    font-size: 0.8em !important;
    padding: 12px !important;
}
/* End of style for the notification zone */

/* Styles for svg elements */
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.axis--y > .domain, .axis--x > .domain{
  stroke: #BEBEBE;
}

.axis--y > g.tick > line, .axis--x > g.tick > line{
  stroke: #BEBEBE;
}

.tick > text {
  font-size: 11px;
}
/* End of styles for svg elements */

/* Styles for information (i) icon and information dialogs */
span.i_info {
  font-family: Courgette;
  color: #4f81bd;
  padding-left: 5px;
  padding-right: 4px;
  font-weight: bold;
  cursor: help;
}

p.disabled > span.i_info {
  color: lightgray !important;
  cursor: initial;
}

div.tingle-modal-box__content {
  padding: 1rem 2rem 2rem 2rem !important;
}
/* End of styles for information icons and information dialog */

/* Styles for the left menu */
.title_menu {
  background: #4f81bd;
  color: white;
  padding: 2px !important;
  margin: 0;
}

#menu {
  font-family: 'Signika', sans-serif;
  color: #4f81bd;
  height: 100%;
}

#menu > div.box > p, #menu > div.box > div > p {
  font-size: 0.85em;
  padding: 1px 1px 1px 8px;
  margin: 0;
}

#menu > div.box > p.small, #menu > div.box > div > p.small {
  font-size: 0.8em;
  margin-left: 0.7em;
  color: rgba(0, 0, 0, 0.8);
}

.box {
  border: solid 1px #4f81bd;
  margin-bottom: 0.8em;
}

.box > p:last-of-type {
  padding-bottom: 0.3em !important;
}

span.down_arrow {
  float: right;
  padding-right: 1px;
  margin: 4px;
  cursor: pointer;
}

span.square {
    height: 6px;
    border: 1px solid #4f81bd;
    content: " ";
    padding-left: 10px;
    margin-right: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

span.square.disabled {
  border: 1px solid lightgray;
  cursor: not-allowed;
}

span.small_square {
  height: 5px;
  border: 1px solid #4f81bd;
  content: " ";
  padding-left: 8px;
  margin-right: 4px;
  font-size: 0.6em;
  cursor: pointer;
}

span.small_square.disabled {
  border: 1px solid lightgray;
  cursor: not-allowed;
}

span.square.checked, span.small_square.checked {
  background: #4f81bd;
  cursor: pointer;
}

span.label_chk {
  cursor: pointer;
  user-select: none;
}

span.label_chk.disabled {
  color: lightgray;
  cursor: not-allowed;
}

span.link {
  cursor: pointer;
  color:blue;
  text-decoration:underline;
}

span.link:hover {
     text-decoration:none;
     text-shadow: 1px 1px 1px #555;
}

p.disabled {
  color: lightgray;
  cursor: not-allowed;
}

span.minibutton {
  background-color: #96b4d8;
  color: white;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 2px;
  font-size: 0.8em;
  border-radius: 0.3em;
  font-weight: 800;
}

#curr_regio_level {
  position: relative;
  float: right;
  margin-right: 0.8em;
  margin-top: 0.25em;
  font-size: 0.7em;
  font-weight: 600;
  color: #3b6393;
  z-index: 1001;
  word-spacing: 0.2em;
}

span.i_regio {
  cursor: pointer;
}

#button_hide_menu > button {
  position: absolute;
  /* margin: 0em 0.4em;
  padding: 0.5em 0.5em; */
  color: #4f81bd;
  font-size: 1.25em;
  cursor: pointer;
  outline: 0;
  border: none;
  background: transparent;
}
/* End on styles for left menu */

/* Styles for top menu */
.top_section.zoomed {
  font-size: 0.85em;
}

.title_section {
  color: #4f81bd;
  font-size: 1.3em;
  text-align: center;
}

.title_section.zoomed {
  font-size: 1.1em;
}

.type_comparaison {
  border: solid 1px #4f81bd;
  margin-bottom: 15px;
  float: left;
  margin: auto;
  cursor: pointer;
  width: 41%;
}

.title_type_comp {
  color: #4f81bd;
  font-size: 1.3em;
  margin: 0;
}

.type_chart {
  margin: 0 5px;
  cursor: pointer;
  color: #4f81bd;
}

.type_chart.disabled {
  color: lightgray;
  cursor: not-allowed;
}

.type_chart.selected {
  font-weight: 800;
}
/* End of styles for top menu */

/* Styles for the completness section */
.completude_section, .filter_info {
  font-family: "Signika", sans-serif;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  margin: auto;
  height: 100%;
}

.completude_section > p {
  display: none;
  cursor: pointer;
  margin: auto;
  color: #4f81bd;
}

.completude_section > p.active {
  display: inherit;
}

.completude_section {
  padding-bottom: 0.4em;
}
/* End of styles for completness section */
.cont_btn {
  margin: 0.4em 4em;
  display: inline-block;
}

.button_blue {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.4em 0.8em;
    border: 1px solid #3f6797;
    border-radius: 8px;
    background: #67a8f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#67a8f6), to(#3f6797));
    background: -moz-linear-gradient(top, #67a8f6, #3f6797);
    background: linear-gradient(to bottom, #67a8f6, #3f6797);
    font: normal normal normal 0.85em 'Signika', sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.button_blue:hover,
.button_blue:focus {
    border: 1px solid #4f81bd;
    background: #7ccaff;
    background: -webkit-gradient(linear, left top, left bottom, from(#7ccaff), to(#4c7cb5));
    background: -moz-linear-gradient(top, #7ccaff, #4c7cb5);
    background: linear-gradient(to bottom, #7ccaff, #4c7cb5);
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.button_blue:active, .button_blue.pressed {
    background: #3f6797;
    background: -webkit-gradient(linear, left top, left bottom, from(#3f6797), to(#3f6797));
    background: -moz-linear-gradient(top, #3f6797, #3f6797);
    background: linear-gradient(to bottom, #3f6797, #3f6797);
}

.button_red {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.4em 0.8em;
    border: 1px solid #973f55;
    border-radius: 8px;
    background: #f66565;
    background: -webkit-gradient(linear, left top, left bottom, from(#f66565), to(#973f55));
    background: -moz-linear-gradient(top, #f66565, #973f55);
    background: linear-gradient(to bottom, #f66565, #973f55);
    font: normal normal normal 0.85em 'Signika', sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.button_red:hover,
.button_red:focus {
    border: 1px solid #bd516c;
    background: #ff7abd;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff7abd), to(#b54a65));
    background: -moz-linear-gradient(top, #ff7abd, #b54a65);
    background: linear-gradient(to bottom, #ff7abd, #b54a65);
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.button_red:active, .button_red.pressed {
    background: #973f55;
    background: -webkit-gradient(linear, left top, left bottom, from(#973f55), to(#973f55));
    background: -moz-linear-gradient(top, #973f55, #973f55);
    background: linear-gradient(to bottom, #973f55, #973f55);
}
/*#menu_selection > .button_blue {
  margin: 0.4em 5em;
}*/
/* End of styles for buttons */

#menu_selection {
  font-size: 0.85em;
  font-family: "Signika",sans-serif;
  padding: 0em 1em 0.5em;
}

#type_dist {
  color: rgb(100, 136, 156);
  display: inline-block;
  font-family: "Signika",sans-serif;
  font-size: 0.8em;
  line-height: 0.65em;
  padding: 0em 1em 0.5em;
  position: absolute;
  z-index: 1000;
}

/* Styles for buttons on the top of the map */
.map_button {
  margin: -0.2em 0.3em 0 0.3em;
  float: left;
  opacity: 0.25;
  cursor: pointer;
}

.map_button.active {
  opacity: 1;
}

.map_button.disabled {
  display: none;
}
/* End of styles of buttons on the top of the map */

/* Styles for context-menu */
.context-menu {
	font-family: Arial, sans;
	position: absolute;
	background: white;
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	box-shadow: 0 5px 5px #c3c3c3;
	padding-top: 5px;
	padding-bottom: 5px;
	min-width: 200px;
	font-size: 0.8em;
}

.context-menu ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.context-menu li {
	position: relative;
	padding-left: 20px;
	padding-right: 30px;
	cursor: default;
}

.context-menu li:hover {
  background: rgba(145, 209, 230, 0.52);
  color: rgb(0,0,0);
}

.context-menu li span.arrow {
	position: absolute;
	font-size: 0.8em;
	right: 10px;
}

.context-menu li div.context-menu {
	left: 100%;
	top: -5px;
}
/* End of styles for context-menu */

/* Styles for Similarity chart / BubbleChart */
input.nb_select {
  width: 30px;
  -moz-appearance: textfield;
  text-align: right;
  border: none;
  border-bottom-style: dashed;
  border-bottom-width: 0.5px;
  margin-left: 3px;
  margin-right: 4px;
  font-size: 1em;
}

input.nb_select::-webkit-inner-spin-button,
input.nb_select::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

.arrow-shadow {
    filter: drop-shadow(1px 1px 0.2px #000);
}
/* End of styles for Similarity chart / BubbleChart */

/* Styles for minitable (displaying statistical summary) */
.minitable_container {
  text-align: center;
  font-family: "Signika", sans-serif;
}

.minitable {
  margin: auto;
}

.minitable > tbody > tr > td, .minitable > thead > tr > th  {
  padding: 0.4em 0.45em;
  font-size: 0.8em;
  font-weight: 400;
}

thead > tr {
  /*background: #4f81bd;*/
  background: #838587;
  color: white;
}

tr td:nth-child(1){
  /*background: #4f81bd;*/
  background: #838587;
  color: white;
}

tr {
  color: #838587;
  /*color: #4f81bd;*/
}
/* End of style for minitable */

/* Style for menu / buttons under some charts */
.choice_ind {
  color: #4f81bd;
  opacity: 0.5;
  font-weight: 800;
  cursor: pointer;
  margin: 0 9px;
}

.choice_ind.active {
  opacity: 1;
}

/* End of styles for menu / buttons under charts */

/* Style for map */
#layers > g > path:focus {
  outline: 0;
}

.rotate {
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* End of styles for map */

/* Styles for map header */
#header_map {
  width: 99%;
  margin-bottom: 5%;
}
/* End of styles for map header */

/* Style for half circle buttons on the top of the map */
.top_half_circle {
  background: #4f81bd;
  display: inline-block;
  margin: 0 0.3em 0 0;
  height: 1.4em;
  width: 1.8em;
  border-top-left-radius: 1.6em;
  border-top-right-radius: 1.6em;
  font-weight: bold;
  float: right;
  cursor: pointer;
  text-align: center;
  position: relative;
  color: white;
}
/* End of styles for half circle buttons */

/* Styles for slider checkbox */
.slider-checkbox {
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
}
.slider-checkbox input {
  margin: 0px;
  margin-top: 1px;
  cursor: pointer;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: red;
  width: 40px;
  height: 20px;
}
.slider-checkbox input:checked + .label:before {
  background-color: #1877c1;
  content: "";
  padding-left: 0.2em;
}
.slider-checkbox input:checked + .label:after {
  left: 21px;
}
.slider-checkbox .label {
  position: relative;
  padding-left: 46px;
  text-align: justify;
  cursor: pointer;
}
.slider-checkbox .label:before, .slider-checkbox .label:after {
  position: absolute;
  border-radius: 10px;
  transition: background-color 0.3s, left 0.3s;
}
.slider-checkbox .label:before {
  content: "";
  color: #667078;
  box-sizing: border-box;
  padding-left: 1.3em;
  font-size: 0.9em;
  line-height: 1em;
  background-color: #888;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 40px;
  /*-webkit-border-radius: 10px;
  -moz-border-radius: 10px;*/
  border-radius: 10px;
}
.slider-checkbox .label:after {
  content: "";
  letter-spacing: 20px;
  background: #fff;
  left: 1px;
  top: 1px;
  height: 18px;
  width: 18px;
}
.slider-checkbox input:not(:checked) + .label:before {
  background-color: #667078;
}
.label.not_selected {
  color: #667078;
}

/* End of styles for slider checkbox */

/* Style for the 3 main containers */
.t1 {
  width:25%;
  float: left;
  transition: 0.3s;
  visibility: visible;
  transform: scaleX(1);
}
.t2 {
  width:39%;
  float:left;
  height:100%;
  padding-left: 1% !important;
 }
.t2.zoomed {
 width:43%;
}
.t3 {
  width:31%;
  float:right;
  height:100%;
}
.t3.zoomed {
  width: 35%;
}
.t1, .t2, .t3 {
  padding-left: 0.5%;
  padding-right: 0.5%;
}
/* End of style for the 3 main containers */

/* Styles for tooltips */
.tooltip {
  pointer-events: none;
  position: fixed;
  background-color: rgba(245, 245, 220, 0.85);
  padding: 0px 0px 5px 0px;
  margin: auto;
  min-width: 260px;
  font-family: "Signika", sans-serif;
  font-size: 0.85em;
  border-radius: 4px;
  color: #353d44;
  z-index: 13;
}

.tooltip > .title {
  margin: auto;
  background-color: #4f81bd;
  padding: 2px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  font-weight: 800;
  font-size: 1.1em;
}

.tooltip > .title.red {
  margin: auto;
  background-color: red;
  padding: 2px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  font-weight: 800;
}

.tooltip > .title.myRegion {
  margin: auto;
  background-color: yellow;
  padding: 2px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: black;
  font-weight: 800;
}

.tooltip > .content {
  margin: auto;
  padding: 1px 8px;
  font-size: 1em;
}
/* End of styles for tooltips */

/* Styles for map tooltips */
.tooltip_map, .tooltip-black {
  pointer-events: none;
  position: fixed;
  background-color: black;
  padding: 5px 8px;
  margin: auto;
  font-family: "Signika", sans-serif;
  font-size: 0.9em;
  border-radius: 4px;
  color: white;
}
.tooltip_map > .title, .tooltip-black > .content {
  margin: auto;
}
.tooltip_map > .content {
  display: none;
  height: 0;
}
/* End of styles for map tooltips */

span.arrow_down:before {
  content: '\025BA';
  margin-right: 4px;
}

span.arrow_right:before {
  content: '\025BE';
  margin-right: 5px;
  margin-left: 2px;
  font-weight: 800;
}

.axis {
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.axis > text.legend {
  cursor: initial;
  user-select: initial;
  pointer-events: initial;
}

/* Styles for rapport dialog */
#prep_rapport {
  text-align: center;
  min-height: 390px;
}
#prep_rapport > .spinner > .cube1, #prep_rapport > .spinner > .cube2 {
  background-color: #4f81bd;
}
#prep_rapport > p {
  margin: auto;
  text-align: center;
  padding-top: 20%;
}
.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;

	background-color: #4f81bd;
	color: white;

	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #002565;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;

	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;

	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4f81bd;
}

.buttonDownload:hover:after {
	border-top-color: #4f81bd;
	animation-play-state: running;
}

.buttonDownload.large {
  width: 200px;
}
/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}

	0.001% {
		margin-top: -15px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 0;
	}
}
/* End of styles for download button */

/* Style for radar chart legend */
.mini-legend-item {
  display: inline-block;
}
.mini-legend-item > p.color_square {
  width: 1.1em;
  height: 1.1em;
  margin: auto;
  display: inline-block;
  vertical-align: text-top;
  border-radius: 10%;
}
.mini-legend-item > span {
  padding: 0 5px;
}
.btn_delete_mini {
  margin-left: 5px;
}
/* End of styles for radar chart legend */

/* Styles for input with autocompletion (left menu) */
.regio_name {
  width: 100%;
  position: relative;
  display: inline-block;
  padding-top: 4px;
}

.regio_name > p {
  margin: auto;
  display: inline-block;
  padding: 5px 2px;
  font-size: 0.8em;
}

.regio_name > input {
  border: 2px solid #64889c;
  box-shadow: inset 0 0 6px  rgba(0,0,0,0.1), 0 0 12px rgba(0,0,0,0.1);
  padding: 0.4em;
  margin: 0 0 10px 0;
  height: 45%;
  font-weight: 800;
  font-size: 0.8em;
}

#search {
  position: absolute;
  z-index: 11;
  width: calc(91% - 7em);
  background: rgba(255,255,255,0.4);
  color: white;
}

#autocomplete {
  position: absolute;
  z-index: 10;
  width: calc(91% - 7em);
  background: rgb(79, 129, 189);
  color: black;
}

#list_regio {
  height: 15%;
  transition: all 400ms ease-in-out;
}

#list_regio.hidden {
  height: 0;
}
/* End of styles for input with autocompletion (left menu) */


h3 {
  color: #4f81bd;
}
/* Style for variable selection on bar chart */
.title_variable {
  margin-left: 1.5em;
  font-size: 0.9em;
  font-family: "Signika", sans-serif;
  padding: 3px;
  cursor: pointer;
  display: inline-block;
}

.title_variable.inversed {
  color: red;
}
/* End of style for variable selection on bar chart */

/* Styles for help modal box */
.tingle-modal {
  z-index: 2000 !important;
}

.tingle-modal-box__content {
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
}
/* End of styles for help modal box */

/* Styles for beeswarm chart / similarity with global distance */
.axis-top-v path, .axis-top-v line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis-top-v text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}
/* End of styles for beeswarm chart / similarity with global distance */

/* Styles for guided tour */
.steptour {
  font-family: 'Signika', sans-serif;
  font-size: 0.9em;
  max-width: 450px;
}

.steptour .titlestep {
  font-weight: bold;
  font-size: 1em;
}
/* End of styles for guided tour */

/* Style for custom radio buttons */
.cont_radio {
    display: block;
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 1em;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default radio button */
.cont_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cont_radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cont_radio input:checked ~ .checkmark {
    background-color: #64889c; /*#2196F3;*/
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.cont_radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.cont_radio .checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

/* End of style for custom radio buttons */

/* Styles for spinner while recalculating chart */
#overlay {
  background: rgba(211, 211, 211, 0.8) none repeat scroll 0% 0%;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  position: fixed;
  z-index: 1001;
}

@keyframes spinner2 {
  to {transform: rotate(360deg);}
}

.spinner2:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner2 .8s ease infinite;
}
/* End of styles for spinner while recalculating chart */
